<div class="container">

  <div class="burger-list" id="list-1">
    <h2>READY NOW:</h2>
    <div>
      {{#each burgers}}
      {{#unless this.devoured}}
      <div class="burger-name">
        <label>{{this.burger_name}}</label>
        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true"><button class="btn btn-dark" type="submit">Devour It!</button>
        </form>
      </div>
      {{/unless}}
      {{/each}}
    </div>
  </div>

  <div id="add-burger">
{{!-- cannot find much info on how to properly add this helper:
    <img src="{{url}}" alt="Chalk-Drawn Burger"/>
using style sheet instead: --}}
    <div id="burger-image"></div>
    <div>
      <h3>New Order</h3>
      <form action="burgers/create/" method="POST">
        <div class="form-group" id="new-order">
          <label>Burger Name: </label>
          <input type="text" name="name" id="enter-name" required>
          <button class="btn btn-dark" type="submit">Order Now</button>
        </div>
      </form>
    </div>
  </div>
  
  <div class="burger-list" id="list-2">
    <h2>ALL GONE:</h2>
    <div>
      {{#each burgers}}
      {{#if this.devoured}}
      <div class="burger-name">
        {{this.burger_name}}
      </div>
      {{/if}}
      {{/each}}
    </div>
  </div>

</div>