<h1>EAT DA BURGER!</h1>

<div class="row">
  <div class="panel col-lg-5 not-devoured">
    <h4>Ready Now:</h4>
    <div>
      {{#each burgers}}
      {{#unless this.devoured}}
      <div>
        {{this.burger_name}}
        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
        <input type="hidden" name="devoured" value="true">
          <button type="submit">Devour It!</button>
        </form>
      </div>
      {{/unless}}
      {{/each}}
    </div>
  </div>

<div class="panel col-lg-5 devoured">
  <h4>All Gone:</h4>
  <div>
    {{#each burgers}}
    {{#if this.devoured}}
    <div>
      {{this.burger_name}}
    </div>
    {{/if}}
    {{/each}}
  </div>
</div>

<h3>Add a Burger</h3>
<form action="burgers/create/" method="POST">
  <div class="form-group">
    <label for="bur">Burger Name:</label>
    <input type="text" id="bur" name="name">
  </div>
  <button type="submit">Place Order</button>
</form>