body {
  background-image: url(../img/blackboard.jpg);
  font-family: 'Covered By Your Grace', cursive;
  font-size: 1.5em;
  color: #ffffff;
}

.container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
}

h2 {
  text-align: center;
}

#new-order {
  width: 90%;
  margin: 0 auto;
}

#add-burger {
  width: 50%;
  height: 100%;
  padding: 1em;
}

.burger-list {
  width: 25%;
  height: 100%;
  padding: 1em;
}

.burger-name {
  padding: 0.5em 0;
}

#burger-image {
  box-sizing: border-box;
  display: block;
  height: 25em;
  background-image: url("../img/burger.png");
  background-size: 90%;
  background-repeat: no-repeat;
}

#enter-name {
  background-color: darkgray;
}


/* <img src="../public/assets/img/burger.png" height="25em" alt="Chalk-Drawn Burger"> */