body {
  width: 960px;
  margin: 0, auto;
}

li {
  padding: 5px;
  margin: 5px;
  background: #E9F3DA;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
}

.form-group {
  margin-bottom: 5px;
}